pipeline/Copy-latest FIle.json
{
	"name": "Copy-latest FIle",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata - ChildItems",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CSV_InputFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "iterate-ChildItems",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata - ChildItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata - ChildItems').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata-modified Date",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Parameterized_Binary_DS_Input",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If-latestModified Date",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata-modified Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata-modified Date').output.lastModified,variables('lastModified'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable - Laste modified Date",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "lastModified",
											"value": {
												"value": "@activity('Get Metadata-modified Date').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable-Filename",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable - Laste modified Date",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestFile",
											"value": {
												"value": "@activity('Get Metadata-modified Date').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy-output Folder",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "iterate-ChildItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Parameterized_Binary_DS_Input",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@variables('latestFile')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Binary_DS_OutputFolder",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"latestFile": {
				"type": "String"
			},
			"lastModified": {
				"type": "String",
				"defaultValue": "1900-01-01T00:00:00Z"
			}
		},
		"annotations": []
	}
}